{% extends 'baseAdmin.html.twig' %}

{% block title %}AppMail Categories
{% endblock %}

{% block body %}

	<div class="col-lg-8 mx-auto mt-4">
		<div class="card rounded-4 mt-4">
			<div class="card-header rounded-top-4">
				<h3>LISTE DES CATEGORIES</h3>
			</div>
			<div class="card-body rounded-bottom-4">

				<table class="table">
					<thead>
						<tr>
							{# <th>Id</th> #}
							<th>Nom des Catégories</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for app_mail_category in app_mail_categories %}
							<tr>
								{# <td>{{ app_mail_category.id }}</td> #}
								<td>{{ app_mail_category.appMailCategoriesName }}</td>
								<td>
									<a href="{{ path('app_mail_categories_show', {'id': app_mail_category.id}) }}" class="icone" title="Voir">
										<i class="bi bi-eye"></i>
									</a>
									<a href="{{ path('app_mail_categories_edit', {'id': app_mail_category.id}) }}" class="icone" title="Editer">
										<i class="bi bi-pencil-square"></i>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('app_mail_categories_new') }}">
					<button type="button" class="btnBlue ">
						<i class="bi bi-file-earmark-plus"></i>
						Nouvelle Catégorie</button>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
