{% extends 'baseAdmin.html.twig' %}

{% block title %}Contacts
{% endblock %}

{% block body %}
	<div class="col-lg-8 mx-auto mt-4">
		<div class="card rounded-4 mt-4">
			<div class="card-header rounded-top-4">
				<h3>LISTE DES CONTACTS</h3>
			</div>
			<div class="card-body rounded-bottom-4">

				<form method="GET" action="{{ path('app_mail_contacts_filter_categories') }}">
					<div class="row">
						<div class="col-6">

							<select class="form-select" aria-label="select Catégories" name="category">
								<option selected>Filtrer par catégorie</option>

								{% for app_mail_category in categories %}
									<option value="{{ app_mail_category.id }}">{{ app_mail_category.appMailCategoriesName }}</option>
								{% endfor %}
							</select>

						</div>
						<div class="col-2">
							<button type="submit" class="btnBlue ">Filtrer</button>
						</div>

						<div class="col-4">
							<button type="submit" class="btnBlue ">Copier les Adresses</button>
						</div>
					</div>
				</form>

				<table class="table">

					<thead>
						<tr>
							{# <th>Id</th> #}
							<th>Emails</th>
							{# <th>Prénoms</th>
																																																													                <th>Noms</th> #}
							<th>Entreprises</th>
							<th>Catégories</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>

						{% for app_mail_contact in contacts %}
							{% for category in app_mail_contact.category %}
								{% if category_id == category.id %}


									<tr>
										{# <td>{{ app_mail_contact.id }}</td> #}
										<td>{{ app_mail_contact.appMailContactsEmail }}</td>
										{# <td>{{ app_mail_contact.appMailContactsFirstName }}</td>
																																																																								                <td>{{ app_mail_contact.appMailContactsLastName }}</td> #}
										<td>{{ app_mail_contact.appMailContactsBusiness }}</td>
										<td>
											<ul>
												{% for app_mail_category in app_mail_contact.category %}
													<li>{{ app_mail_category.appMailCategoriesName }}</li>
												{% endfor %}
											</ul>
										</td>

										<td>
											<a href="{{ path('app_mail_contacts_show', {'id': app_mail_contact.id}) }}">
												<i class="bi bi-eye"></i>
											</a>
											<a href="{{ path('app_mail_contacts_edit', {'id': app_mail_contact.id}) }}">
												<i class="bi bi-pencil-square"></i>
											</a>
										</td>
									</tr>
								{% endif %}
							{% endfor %}

						{% endfor %}

					</tbody>
				</table>
				<button type="button" class="btnBlue ">
					<a href="{{ path('app_mail_contacts_new') }}" class="btn">
						<i class="bi bi-file-earmark-plus"></i>
						Nouveau Contact</a>
				</button>


			</div>
		</div>
	</div>
{% endblock %}
