<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		{% block stylesheets %}
			<link href="{{ asset('Ressources/CSS/styles.css') }}" type="text/css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{# Navbar Du haut #}

		<nav class="navbar navbar-expand-md navbar-light bg-dark shadow-sm fixed-top" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Arinfo</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto">
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="#">{{ app.user.userIdentifier }}</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>
							</li>

						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_register') }}">enregistrement</a>
							</li>
						{% endif %}

					</ul>
				</div>
			</div>
		</nav>
		<section class="container-fluid">

			<div class="row flex-nowrap mt-4">
				<div class="col-auto col-md-2 col-xl-2 px-sm-2 px-0 mt-4 menuGauche">
					<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 mt-4">

						<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
							<li class="nav-item">
								<a href="#" class="nav-link align-middle px-0 text-light">
									<i class="fs-4 bi-speedometer2"></i>
									<span class="ms-1 d-none d-sm-inline">Dashboard</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link px-0 align-middle text-light">
									<i class="bi bi-envelope-at"></i>
									<span class="ms-1 d-none d-sm-inline">AppMail</span>
								</a>

								<ul class="collapse show nav flex-column ms-1  menubis" id="submenu1" data-bs-parent="#menu">
									<li class="w-100">
										<a href="{{ path('app_mail_contacts_index') }}" class="nav-link px-0 text-light">
											<i class="bi bi-person-rolodex"></i>
											<span class="d-none d-sm-inline">Contacts</span>
										</a>
									</li>
									<li>
										<a href="{{ path('app_mail_categories_index') }}" class="nav-link px-0 text-light menubis">
											<i class="bi bi-bookmarks"></i>
											<span class="d-none d-sm-inline">Catégories</span>
										</a>
									</li>
								</ul>
							</li>


							<li>
								<a href="#" class="nav-link px-0 align-middle text-light">
									<i class="fs-4 bi-people"></i>
									<span class="ms-1 d-none d-sm-inline">Utilisateur</span>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link px-0 align-middle text-light">
									<i class="fs-4 bi bi-person"></i>
									<span class="ms-1 d-none d-sm-inline">Mon Compte</span>
								</a>
							</li>
						</ul>

					</div>
				</div>


				{% block body %}{% endblock %}
			</div>

		</section>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</body>
</html>
