{% extends 'baseAdmin.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}

	<div class="col-lg-8 mx-auto mt-4">
		<div class="card rounded-4 mt-4">
			<div class="card-header rounded-top-4">
				<h3>MON COMPTE</h3>
			</div>
			<div class="card-body rounded-bottom-4">

<table class="table">
        <tbody>
        		{% if is_granted("ROLE_ADMIN") %}	
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            {# <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>Prénom</th>
                <td>{{ user.usersFirstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.usersLastName }}</td>
            </tr>
            <tr>
                <th>Centre</th>
                <td>{{ user.usersCenter }}</td>
            </tr>
                    		{% if is_granted("ROLE_ADMIN") %}	

                        <tr>
                <th>Roles</th>
                <td>Administrateur</td>
            </tr>
            {% endif %}

        </tbody>
    </table>

<div class="row ">
					<div class="col-4 d-flex justify-content-around">
                        <a href="{{ path('app_user_editCompte', {'id': user.id}) }}">
						<button type="button" class="btnBlue "><i class="bi bi-pencil-square"></i>
								Editer
						</button></a>
					</div>

				</div>

			</div>
		</div>
	</div>
{% endblock %}